[submodule "yp-spur"]
	path = yp-spur
	url = https://github.com/openspur/yp-spur.git
[submodule "livox_ros_driver2"]
	path = livox_ros_driver2
	url = https://github.com/Ryusei-Baba/livox_ros_driver2.git
