[submodule "yp-spur"]
	path = yp-spur
	url = https://github.com/openspur/yp-spur.git
[submodule "gazebo_simulator"]
	path = gazebo_simulator
	url = https://github.com/Ryusei-Baba/gazebo_simulator
[submodule "vla_nav"]
	path = vla_nav
	url = https://github.com/Ryusei-Baba/vla_nav
