<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 駆動輪リンクの定義マクロ -->
  <!-- 使用例:
       <xacro:wheel_link prefix="left" width="0.045" radius="0.152">
         <origin xyz="0 0 0" rpy="0 0 0"/>
       </xacro:wheel_link>
  -->
  <xacro:macro name="wheel_link" params="prefix *origin width radius">

    <link name="${prefix}_wheel_link">

      <!-- 視覚表現 -->
      <visual>
        <xacro:insert_block name="origin"/>
        <geometry>
          <cylinder length="${width}" radius="${radius}"/>
        </geometry>
        <material name="white"/>
      </visual>

      <!-- 衝突判定 -->
      <collision>
        <xacro:insert_block name="origin"/>
        <geometry>
          <cylinder length="${width}" radius="${radius}"/>
        </geometry>
      </collision>

      <!-- 慣性パラメータ -->
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.15"/>
        <inertia 
          ixx="0.005" ixy="0.0" ixz="0.0"
          iyy="0.005" iyz="0.0" izz="0.01"/>
      </inertial>

    </link>

  </xacro:macro>

</robot>
