<?xml version="1.0"?>
<robot name="orne_box" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ベースロボット+センサーの読み込み -->
  <xacro:include filename="$(find simulator)/urdf/orne_box_mid360.urdf.xacro"/>

  <!-- Gazeboプラグインの設定 -->
  <gazebo>
    <plugin
      filename="libignition-gazebo-diff-drive-system.so"
      name="ignition::gazebo::systems::DiffDrive">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.4615</wheel_separation>
      <wheel_radius>0.145</wheel_radius>
      <odom_publish_frequency>0.1</odom_publish_frequency>
      <topic>cmd_vel</topic>
    </plugin>
  </gazebo>

  <!-- 2D LiDARセンサ（Hokuyo） -->
  <gazebo reference="hokuyo_link">
    <sensor name="hokuyo" type="gpu_lidar">
      <ignition_frame_id>hokuyo_link</ignition_frame_id>
      <topic>scan</topic>
      <update_rate>40</update_rate>
      <lidar>
        <scan>
          <horizontal>
            <samples>1080</samples>
            <resolution>1</resolution>
            <min_angle>-1.57</min_angle>
            <max_angle>1.57</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>0.1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.1</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <frame_id>/hokuyo_link</frame_id>
      </lidar>
      <alwaysOn>true</alwaysOn>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

  <!-- 3D LiDARセンサ（Livox） + IMU -->
  <gazebo reference="Livox_Mid360_link">
    <!-- LiDAR -->
    <sensor name="Livox_Mid360" type="gpu_lidar">
      <ignition_frame_id>Livox_Mid360_link</ignition_frame_id>
      <topic>lidar</topic>
      <update_rate>10</update_rate>
      <lidar>
        <scan>
          <horizontal>
            <samples>3600</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
          <vertical>
            <samples>59</samples>
            <resolution>1</resolution>
            <min_angle>-0.122</min_angle>
            <max_angle>0.907</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.1</min>
          <max>40.0</max>
          <resolution>0.01</resolution>
        </range>
        <frame_id>/Livox_Mid360_link</frame_id>
      </lidar>
      <alwaysOn>true</alwaysOn>
      <visualize>true</visualize>
    </sensor>

    <!-- IMU -->
    <sensor name="imu_sensor" type="imu">
      <topic>imu</topic>
      <ignition_frame_id>Livox_Mid360_link</ignition_frame_id>
      <update_rate>100</update_rate> <!-- 必要に応じて調整 -->
      <always_on>true</always_on>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <!-- デプスカメラセンサ（ZED） -->
  <gazebo reference="zed_camera_center">
    <sensor name="zed_camera" type="camera">
      <ignition_frame_id>zed_camera_center</ignition_frame_id>
      <pose>0 0 0 0 0 0</pose>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>480</width>
          <height>300</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      <topic>image_raw</topic>
    </sensor>
  </gazebo>

  <!-- レンダリングエンジン設定 -->
  <gazebo>
    <plugin name="ignition::gazebo::systems::Sensors" filename="ignition-gazebo-sensors-system">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

</robot>
