<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="livox_mid360">

  <!-- πの定数 -->
  <xacro:property name="M_PI" value="3.14159"/>

  <!-- 惯性マクロ（簡易） -->
  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </xacro:macro>

  <!-- Livox Mid360 センサモジュール -->
  <xacro:macro name="Livox_Mid360" params="name:=livox parent:=base_link xyz:='0 0 0' rpy:='0 0 0'">

    <!-- 親リンクに取り付けられる固定関節 -->
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- センサ本体のリンク -->
    <link name="${name}_link">
      <xacro:null_inertial/>

      <visual> 
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI}"/>
        <geometry>
          <mesh filename="package://robot_description/urdf/meshes/livox_mid360.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/urdf/meshes/livox_mid360.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
