<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="orne_box">

  <!-- 定数の定義 -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- 外部ファイルの読み込み -->
  <xacro:include filename="$(find robot_description)/urdf/material_colors.xacro"/>

  <!-- リンク定義 -->
  <xacro:include filename="$(find robot_description)/urdf/links/base_link.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/links/caster_wheel_link.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/links/caster_swivel_link.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/links/wheel_link.urdf.xacro"/>

  <!-- ジョイント定義 -->
  <xacro:include filename="$(find robot_description)/urdf/joints/caster_wheel_joint.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/joints/caster_swivel_joint.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/joints/wheel_joint.urdf.xacro"/>

  <!-- ============================= -->
  <!-- ベースリンクの定義 -->
  <!-- ============================= -->
  <xacro:base_link/>

  <!-- ============================= -->
  <!-- キャスタ（左右） -->
  <!-- ============================= -->
  <xacro:caster_wheel_link prefix="left"/>
  <xacro:caster_swivel_link prefix="left"/>
  <xacro:caster_wheel_joint prefix="left"/>
  <xacro:caster_swivel_joint prefix="left" parent="base_link">
    <origin xyz="0.362 0.150 0.115" rpy="0 0 0"/>
  </xacro:caster_swivel_joint>

  <xacro:caster_wheel_link prefix="right"/>
  <xacro:caster_swivel_link prefix="right"/>
  <xacro:caster_wheel_joint prefix="right"/>
  <xacro:caster_swivel_joint prefix="right" parent="base_link">
    <origin xyz="0.362 -0.150 0.115" rpy="0 0 0"/>
  </xacro:caster_swivel_joint>

  <!-- ============================= -->
  <!-- 車輪（左右） -->
  <!-- ============================= -->
  <!-- 左車輪 -->
  <xacro:wheel_joint prefix="left" parent="base_link">
    <origin xyz="0.0 0.23075 0.152" rpy="${-PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_joint>
  <xacro:wheel_link prefix="left" width="0.045" radius="0.152">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:wheel_link>

  <!-- 右車輪 -->
  <xacro:wheel_joint prefix="right" parent="base_link">
    <origin xyz="0.0 -0.23075 0.152" rpy="${-PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_joint>
  <xacro:wheel_link prefix="right" width="0.045" radius="0.152">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:wheel_link>

</robot>
